<!-- la section tiene el contenido de la landing page y el video -->
<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <!-- En este div esta el header y el footer -->
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">Starting at $40,240</p>
    </header>

    <!-- flex grow es para que el footer crezca todo el espcio disponible -->
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex justify-center">
        <a
          class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-20 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
          href="#"
        >
          Explore Inventory</a
        >
        <a
          class="bg-white text-sm rounded font-medium px-20 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
          href="#"
        >
          Custom Drive</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/model-y.avif"
      alt="coche model-y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
